/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background: #C5CAE9;    
    font-family: roboto;
    font-weight: 400; 
}

background {
    background: #3F51B5;   
}

/* Icons color */
i {
    color: #FF5252;
}

a {
    color: #3F51B5;
}

.nav-wrapper {    
    position: relative;
    height: 100;
    line-height: 35px;    
}

nav {
    /* background-color: #BDBDBD; */    
   /* background-color: #24292E; */
    background-color: #40444f;
    height: 50px;
    line-height: 30px;    
}

.menu-item:hover {
    /* background-color: #E2AE0D; */
    background-color: #FF5252;
}

/* Card bottom link */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #FF5252;
}

.tech-icon {    
    width: 16px;
    height: 16px;
}

/* Footer */
.page-footer {
        background-color: #40444f;
}

.footer-icon {
    color: white;
    padding: 10px;
}

